p{
    color: lime;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
body{
background-color: saddlebrown;
}
img {
    width: 700px;
    height: 500px;
    }
    a{
        color: red;
    }
